In [194]:
# Importamos librerias para gestión de datos
import pandas as pd

In [195]:
# # Carga de archivos: 1_acceso_internet_por_velocidad_y_por_localidad
# file1 = 'C:\\Users\\felip\\Desktop\\Proyecto2\\Data\\1_acceso_internet_por_velocidad_y_por_localidad.csv'
# velocidad_localidad = pd.read_csv(file1, encoding='UTF-8', sep=',')
# velocidad_localidad.info()

In [196]:
# Carga de archivos: 1_acceso_internet_por_velocidad_y_por_localidad
velocidad_localidad = pd.read_excel('C:\\Users\\felip\\Desktop\\Proyecto2\\Data\\internet.xlsx', sheet_name='1. Acc_vel_loc_sinrangos')
velocidad_localidad.head(3)

,Provincia,Partido,Localidad,Link Indec,Otros,"0,256 Mbps","0,5 Mbps","0,512 Mbps","0,75 Mbps",1 Mbps,...,540 Mbps,600 Mbps,680 Mbps,700 Mbps,800 Mbps,850 Mbps,900 Mbps,999 Mbps,1000 Mbps,1024 Mbps
0,BUENOS AIRES,25 de Mayo,25 de Mayo,6854100,NaN,NaN,2.0,NaN,19.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BUENOS AIRES,25 de Mayo,Agustín Mosconi,6854010,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,BUENOS AIRES,25 de Mayo,Del Valle,6854020,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [197]:
# Carga de archivos: 2.Velocidad_sin_Rangos
velocidad_sin_rangos = pd.read_excel('C:\\Users\\felip\\Desktop\\Proyecto2\\Data\\internet.xlsx', sheet_name='2.Velocidad_sin_Rangos')
velocidad_sin_rangos.head(3)

,Año,Trimestre,Provincia,Otros,"0,256 Mbps","0,375 Mbps","0,625 Mbps","0,5 Mbps","0,512 Mbps","0,75 Mbps",...,2048 Mbps,2529 Mbps,3072 Mbps,4000 Mbps,5000 Mbps,5125 Mbps,6000 Mbps,7000 Mbps,8000 Mbps,10000 Mbps
0,2023.0,4.0,Buenos Aires,93351.0,19.0,0.0,0.0,26703.0,187.0,4611.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2023.0,4.0,Capital Federal,0.0,31.0,0.0,0.0,451.0,34.0,1307.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2023.0,4.0,Catamarca,77.0,0.0,0.0,0.0,34.0,37.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [198]:
# Carga de archivos: 3.Velocidad_media_provincia
velocidad_media_provincia = pd.read_excel('C:\\Users\\felip\\Desktop\\Proyecto2\\Data\\internet.xlsx', sheet_name='3.Velocidad_por_prov')
velocidad_media_provincia.head(3)

    Año  Trimestre        Provincia  Mbps (Media de bajada)
0  2023          4     Buenos Aires                  158.49
1  2023          4  Capital Federal                  234.44
2  2023          4        Catamarca                   89.40

In [199]:
# Carga de archivos: 4.velocidad_media_de_bajada
velocidad_media_de_bajada = pd.read_excel('C:\\Users\\felip\\Desktop\\Proyecto2\\Data\\internet.xlsx', sheet_name='4_velocidad_media_de_bajada')
velocidad_media_de_bajada.head(3)

    Año  Trimestre  Mbps (Media de bajada)    Trimestre.1
0  2023          4                  139.04   Oct-Dic 2023
1  2023          3                  129.67  Jul-Sept 2023
2  2023          2                  123.95   Abr-Jun 2023

In [200]:
# Carga de archivos: 5_Accesos_tecnologia_localidad
tecnologia_localidad = pd.read_excel('C:\\Users\\felip\\Desktop\\Proyecto2\\Data\\internet.xlsx', sheet_name='5_Accesos_tecnologia_localidad')
tecnologia_localidad.head(3)

,Provincia,Partido,Localidad,Link Indec,ADSL,CABLEMODEM,DIAL UP,FIBRA OPTICA,OTROS,SATELITAL,WIMAX,WIRELESS,Total general
0,BUENOS AIRES,25 de Mayo,25 de Mayo,6854100,756,4600,0,3,0,742,0,726,6827
1,BUENOS AIRES,25 de Mayo,Del Valle,6854020,181,0,0,0,10,1,0,0,192
2,BUENOS AIRES,25 de Mayo,Gobernador Ugarte,6854040,0,0,0,0,0,0,0,181,181

In [201]:
# Carga de archivos: 6_Total_Acceso_Por_Tecnología
total_tecnologia = pd.read_excel('C:\\Users\\felip\\Desktop\\Proyecto2\\Data\\internet.xlsx', sheet_name='6_Total_Acceso_Por_Tecnología')
total_tecnologia.head(3)

,Año,Trimestre,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total,Periodo
0,2023,4,836390,6022532,3908183,585760,194796,11547661,Oct-Dic 2023
1,2023,3,897895,6018832,3708718,581436,200027,11406908,Jul-Sept 2023
2,2023,2,1006509,5997149,3463988,581823,202428,11251897,Abr-Jun 2023

In [202]:
# Carga de archivos: 7_acceso_internet_por_tecnologia_y_por_provincia
tecnologia_provincia = pd.read_excel('C:\\Users\\felip\\Desktop\\Proyecto2\\Data\\internet.xlsx', sheet_name='7_Tecnologia_provincia')
tecnologia_provincia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 962 entries, 0 to 961
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Año           961 non-null    object
 1   Trimestre     961 non-null    object
 2   Provincia     960 non-null    object
 3   ADSL          960 non-null    float64
 4   Cablemodem    960 non-null    float64
 5   Fibra óptica  960 non-null    float64
 6   Wireless      960 non-null    float64
 7   Otros         960 non-null    float64
 8   Total         960 non-null    float64
dtypes: float64(6), object(3)
memory usage: 67.8+ KB

In [203]:
# Carga de archivos: 8_acceso_internet_banda_ancha_y_dial_up_por_provincia
Dial_BAf_prov = pd.read_excel('C:\\Users\\felip\\Desktop\\Proyecto2\\Data\\internet.xlsx', sheet_name='8_Dial_BAf')
Dial_BAf_prov.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 960 entries, 0 to 959
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Año               960 non-null    int64
 1   Trimestre         960 non-null    int64
 2   Provincia         960 non-null    object
 3   Banda ancha fija  960 non-null    int64
 4   Dial up           958 non-null    float64
 5   Total             960 non-null    int64
dtypes: float64(1), int64(4), object(1)
memory usage: 45.1+ KB

In [204]:
# Carga de archivos: 9_acceso_total_internet_banda_ancha_y_dial_up
total_Dial_BAf = pd.read_excel('C:\\Users\\felip\\Desktop\\Proyecto2\\Data\\internet.xlsx', sheet_name='9_Totales_Dial_BAf')
total_Dial_BAf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Año               40 non-null     int64
 1   Trimestre         40 non-null     int64
 2   Banda ancha fija  40 non-null     int64
 3   Dial up           40 non-null     int64
 4   Total             40 non-null     int64
 5   Periodo           40 non-null     object
dtypes: int64(5), object(1)
memory usage: 2.0+ KB

In [205]:
# Carga de archivos: 10_Penetracion_habitantes
penetracion_hab = pd.read_excel('C:\\Users\\felip\\Desktop\\Proyecto2\\Data\\internet.xlsx', sheet_name='10_Penetracion_hab')
penetracion_hab.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 960 entries, 0 to 959
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Año                       960 non-null    int64
 1   Trimestre                 960 non-null    int64
 2   Provincia                 960 non-null    object
 3   Accesos por cada 100 hab  960 non-null    float64
dtypes: float64(1), int64(2), object(1)
memory usage: 30.1+ KB

In [206]:
# Carga de archivos: 11_Penetracion_hogares
penetracion_hog = pd.read_excel('C:\\Users\\felip\\Desktop\\Proyecto2\\Data\\internet.xlsx', sheet_name='11_Penetracion_hogares')
penetracion_hog.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 960 entries, 0 to 959
Data columns (total 4 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           960 non-null    int64
 1   Trimestre                     960 non-null    int64
 2   Provincia                     960 non-null    object
 3   Accesos por cada 100 hogares  960 non-null    float64
dtypes: float64(1), int64(2), object(1)
memory usage: 30.1+ KB

In [207]:
# Carga de archivos: 12_Penetracion_totales
penetracion_tot = pd.read_excel('C:\\Users\\felip\\Desktop\\Proyecto2\\Data\\internet.xlsx', sheet_name='12_Penetracion_totales')
penetracion_tot.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 5 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           40 non-null     int64
 1   Trimestre                     40 non-null     int64
 2   Accesos por cada 100 hogares  40 non-null     float64
 3   Accesos por cada 100 hab      40 non-null     float64
 4   Periodo                       40 non-null     object
dtypes: float64(2), int64(2), object(1)
memory usage: 1.7+ KB

In [208]:
# Carga de archivos: 13_Totales_velocidad
velocidad_tot = pd.read_excel('C:\\Users\\felip\\Desktop\\Proyecto2\\Data\\internet.xlsx', sheet_name='13_Totales_velocidad')
velocidad_tot.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Año                      40 non-null     int64
 1   Trimestre                40 non-null     int64
 2   Hasta 512 kbps           40 non-null     int64
 3   Entre 512 Kbps y 1 Mbps  40 non-null     int64
 4   Entre 1 Mbps y 6 Mbps    40 non-null     int64
 5   Entre 6 Mbps y 10 Mbps   40 non-null     int64
 6   Entre 10 Mbps y 20 Mbps  40 non-null     int64
 7   Entre 20 Mbps y 30 Mbps  40 non-null     int64
 8   Más de 30 Mbps           40 non-null     int64
 9   OTROS                    40 non-null     int64
 10  Total                    40 non-null     int64
dtypes: int64(11)
memory usage: 3.6 KB

In [209]:
# Carga de archivos: 14_Acceso_velocidad_por_provincia
velocidad_prov = pd.read_excel('C:\\Users\\felip\\Desktop\\Proyecto2\\Data\\internet.xlsx', sheet_name='14_velocidad_prov')
velocidad_prov.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 960 entries, 0 to 959
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Año                      960 non-null    int64
 1   Trimestre                960 non-null    int64
 2   Provincia                960 non-null    object
 3   Hasta 512 kbps           960 non-null    float64
 4   Entre 512 Kbps y 1 Mbps  960 non-null    float64
 5   Entre 1 Mbps y 6 Mbps    960 non-null    float64
 6   Entre 6 Mbps y 10 Mbps   960 non-null    float64
 7   Entre 10 Mbps y 20 Mbps  960 non-null    float64
 8   Entre 20 Mbps y 30 Mbps  960 non-null    float64
 9   Más de 30 Mbps           960 non-null    float64
 10  OTROS                    954 non-null    float64
 11  Total                    960 non-null    float64
dtypes: float64(9), int64(2), object(1)
memory usage: 90.1+ KB

In [210]:
# Carga de archivos: 15_Ingresos
ingresos = pd.read_excel('C:\\Users\\felip\\Desktop\\Proyecto2\\Data\\internet.xlsx', sheet_name='15_Ingresos')
ingresos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 4 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Año                        40 non-null     int64
 1   Trimestre                  40 non-null     int64
 2   Ingresos (miles de pesos)  40 non-null     float64
 3   Periodo                    40 non-null     object
dtypes: float64(1), int64(2), object(1)
memory usage: 1.4+ KB

Combinamos dataframes con nivel provincia

In [211]:
# Revisamos la información de los df de Penetracion
penetracion_hab.info()
penetracion_hog.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 960 entries, 0 to 959
Data columns (total 4 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Año                       960 non-null    int64
 1   Trimestre                 960 non-null    int64
 2   Provincia                 960 non-null    object
 3   Accesos por cada 100 hab  960 non-null    float64
dtypes: float64(1), int64(2), object(1)
memory usage: 30.1+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 960 entries, 0 to 959
Data columns (total 4 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           960 non-null    int64
 1   Trimestre                     960 non-null    int64
 2   Provincia                     960 non-null    object
 3   Accesos por cada 100 hogares  960 non-null    float64
dtypes: float64(1), int64(2), object(1)
memory usage: 30.1+ KB

In [212]:
# Combinamos dataframes
combinado_penetracion = pd.merge(penetracion_hab, penetracion_hog, on=('Año', 'Trimestre', 'Provincia'))
combinado_penetracion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 960 entries, 0 to 959
Data columns (total 5 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           960 non-null    int64
 1   Trimestre                     960 non-null    int64
 2   Provincia                     960 non-null    object
 3   Accesos por cada 100 hab      960 non-null    float64
 4   Accesos por cada 100 hogares  960 non-null    float64
dtypes: float64(2), int64(2), object(1)
memory usage: 37.6+ KB

In [213]:
# Observamos el nuevo df combinado
combinado_penetracion.head(5)

,Año,Trimestre,Provincia,Accesos por cada 100 hab,Accesos por cada 100 hogares
0,2023,4,Buenos Aires,27.68,80.96
1,2023,4,Capital Federal,47.80,117.02
2,2023,4,Catamarca,17.46,68.63
3,2023,4,Chaco,11.85,44.35
4,2023,4,Chubut,26.04,84.96

In [214]:
# En la revisión del df tecnologia_provincia, observamos datos NaN en el campo 'Año'y 'Trimestre' con asteríscos (*).
tecnologia_provincia['Año'].unique() # Se revisan valores
tecnologia_provincia.dropna(inplace=True) # Eliminamos nulos
tecnologia_provincia.info()

<class 'pandas.core.frame.DataFrame'>
Index: 960 entries, 0 to 959
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Año           960 non-null    object
 1   Trimestre     960 non-null    object
 2   Provincia     960 non-null    object
 3   ADSL          960 non-null    float64
 4   Cablemodem    960 non-null    float64
 5   Fibra óptica  960 non-null    float64
 6   Wireless      960 non-null    float64
 7   Otros         960 non-null    float64
 8   Total         960 non-null    float64
dtypes: float64(6), object(3)
memory usage: 75.0+ KB

In [215]:
# Función para limpiar y convertir los valores de año y trimestre ,no numéricos, a números
def limpiar_df(valor):
    if isinstance(valor, str):
        try:
            return int(valor.split()[0])
        except ValueError:
            return 0  
    return valor

#Seleccionar las columnas de interés
columnas = ['Año', 'Trimestre']

In [216]:
#Aplicar la función de limpieza a las columnas de interés
for col in columnas:
   tecnologia_provincia[col] = tecnologia_provincia[col].apply(limpiar_df)

In [217]:
tecnologia_provincia['Año'].unique() # Revisamos los datos

array([2023, 2022, 2021, 2020, 2019, 2018, 2017, 2016, 2015, 2014],
      dtype=int64)

In [218]:
tecnologia_provincia['Trimestre'].unique() # Revisamos los datos

array([4, 3, 2, 1], dtype=int64)

In [219]:
tecnologia_provincia.info()

<class 'pandas.core.frame.DataFrame'>
Index: 960 entries, 0 to 959
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Año           960 non-null    int64
 1   Trimestre     960 non-null    int64
 2   Provincia     960 non-null    object
 3   ADSL          960 non-null    float64
 4   Cablemodem    960 non-null    float64
 5   Fibra óptica  960 non-null    float64
 6   Wireless      960 non-null    float64
 7   Otros         960 non-null    float64
 8   Total         960 non-null    float64
dtypes: float64(6), int64(2), object(1)
memory usage: 75.0+ KB

In [220]:
combinado_penetracion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 960 entries, 0 to 959
Data columns (total 5 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           960 non-null    int64
 1   Trimestre                     960 non-null    int64
 2   Provincia                     960 non-null    object
 3   Accesos por cada 100 hab      960 non-null    float64
 4   Accesos por cada 100 hogares  960 non-null    float64
dtypes: float64(2), int64(2), object(1)
memory usage: 37.6+ KB

In [221]:
# Unimos los df combinado_penetraciion y tecnologia_provincia
combinado_1 = pd.merge(tecnologia_provincia, combinado_penetracion, on=['Año', 'Trimestre', 'Provincia'])
combinado_1.head(5)

,Año,Trimestre,Provincia,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total,Accesos por cada 100 hab,Accesos por cada 100 hogares
0,2023,4,Buenos Aires,223391.0,2797700.0,1784593.0,137993.0,67943.0,5011620.0,27.68,80.96
1,2023,4,Capital Federal,58700.0,1198835.0,182520.0,4492.0,29820.0,1474367.0,47.80,117.02
2,2023,4,Catamarca,6669.0,11016.0,55437.0,1384.0,81.0,74587.0,17.46,68.63
3,2023,4,Chaco,14000.0,60277.0,62301.0,8404.0,2404.0,147386.0,11.85,44.35
4,2023,4,Chubut,26306.0,77217.0,26174.0,30543.0,9930.0,170170.0,26.04,84.96

In [222]:
# Combinamos el df con los tipo de servicios Dial Up y Banda ancha
combinado_2 = pd.merge(combinado_1, Dial_BAf_prov, on=['Año', 'Trimestre', 'Provincia'])
combinado_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 960 entries, 0 to 959
Data columns (total 14 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           960 non-null    int64
 1   Trimestre                     960 non-null    int64
 2   Provincia                     960 non-null    object
 3   ADSL                          960 non-null    float64
 4   Cablemodem                    960 non-null    float64
 5   Fibra óptica                  960 non-null    float64
 6   Wireless                      960 non-null    float64
 7   Otros                         960 non-null    float64
 8   Total_x                       960 non-null    float64
 9   Accesos por cada 100 hab      960 non-null    float64
 10  Accesos por cada 100 hogares  960 non-null    float64
 11  Banda ancha fija              960 non-null    int64
 12  Dial up                       958 non-null    float64
 13  Total_y                       960 non-null    int64
dtypes: float64(9), int64(4), object(1)
memory usage: 105.1+ KB

In [239]:
# Antes de sumar el df de velocidad x provincia, debemos corregir el año del cuarto trimestre de 2023, que aparece erróneamente como 2024.
velocidad_prov['Año'] = velocidad_prov['Año'].replace(2024, 2023)

In [240]:
# Adicionamos los rangos de velocidad
combinado_3 = pd.merge(combinado_2, velocidad_prov, on=['Año', 'Trimestre', 'Provincia'], how='left')
combinado_3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 960 entries, 0 to 959
Data columns (total 23 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           960 non-null    int64
 1   Trimestre                     960 non-null    int64
 2   Provincia                     960 non-null    object
 3   ADSL                          960 non-null    float64
 4   Cablemodem                    960 non-null    float64
 5   Fibra óptica                  960 non-null    float64
 6   Wireless                      960 non-null    float64
 7   Otros                         960 non-null    float64
 8   Total_x                       960 non-null    float64
 9   Accesos por cada 100 hab      960 non-null    float64
 10  Accesos por cada 100 hogares  960 non-null    float64
 11  Banda ancha fija              960 non-null    int64
 12  Dial up                       958 non-null    float64
 13  Total_y                       960 non-null    int64
 14  Hasta 512 kbps                960 non-null    float64
 15  Entre 512 Kbps y 1 Mbps       960 non-null    float64
 16  Entre 1 Mbps y 6 Mbps         960 non-null    float64
 17  Entre 6 Mbps y 10 Mbps        960 non-null    float64
 18  Entre 10 Mbps y 20 Mbps       960 non-null    float64
 19  Entre 20 Mbps y 30 Mbps       960 non-null    float64
 20  Más de 30 Mbps                960 non-null    float64
 21  OTROS                         954 non-null    float64
 22  Total                         960 non-null    float64
dtypes: float64(18), int64(4), object(1)
memory usage: 172.6+ KB

In [225]:
velocidad_media_provincia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 960 entries, 0 to 959
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Año                     960 non-null    int64
 1   Trimestre               960 non-null    int64
 2   Provincia               960 non-null    object
 3   Mbps (Media de bajada)  960 non-null    float64
dtypes: float64(1), int64(2), object(1)
memory usage: 30.1+ KB

In [288]:
# Sumamos la velocidad media por provincia
df_provincia = pd.merge(combinado_3, velocidad_media_provincia, on=['Año', 'Trimestre', 'Provincia'])
df_provincia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 960 entries, 0 to 959
Data columns (total 24 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           960 non-null    int64
 1   Trimestre                     960 non-null    int64
 2   Provincia                     960 non-null    object
 3   ADSL                          960 non-null    float64
 4   Cablemodem                    960 non-null    float64
 5   Fibra óptica                  960 non-null    float64
 6   Wireless                      960 non-null    float64
 7   Otros                         960 non-null    float64
 8   Total_x                       960 non-null    float64
 9   Accesos por cada 100 hab      960 non-null    float64
 10  Accesos por cada 100 hogares  960 non-null    float64
 11  Banda ancha fija              960 non-null    int64
 12  Dial up                       958 non-null    float64
 13  Total_y                       960 non-null    int64
 14  Hasta 512 kbps                960 non-null    float64
 15  Entre 512 Kbps y 1 Mbps       960 non-null    float64
 16  Entre 1 Mbps y 6 Mbps         960 non-null    float64
 17  Entre 6 Mbps y 10 Mbps        960 non-null    float64
 18  Entre 10 Mbps y 20 Mbps       960 non-null    float64
 19  Entre 20 Mbps y 30 Mbps       960 non-null    float64
 20  Más de 30 Mbps                960 non-null    float64
 21  OTROS                         954 non-null    float64
 22  Total                         960 non-null    float64
 23  Mbps (Media de bajada)        960 non-null    float64
dtypes: float64(19), int64(4), object(1)
memory usage: 180.1+ KB

In [289]:
# Eliminamos columna de total repetidas y renombramos, junto a campos 'Otros'.
df_provincia.drop('Total_x', axis=1, inplace=True)
df_provincia.drop('Total', axis=1, inplace=True)
df_provincia.rename(columns={'Total_y': 'Total'}, inplace=True)
df_provincia.rename(columns={'Otros': 'otros_tec'}, inplace=True)
df_provincia.rename(columns={'OTROS': 'otros_vel'}, inplace=True)
df_provincia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 960 entries, 0 to 959
Data columns (total 22 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           960 non-null    int64
 1   Trimestre                     960 non-null    int64
 2   Provincia                     960 non-null    object
 3   ADSL                          960 non-null    float64
 4   Cablemodem                    960 non-null    float64
 5   Fibra óptica                  960 non-null    float64
 6   Wireless                      960 non-null    float64
 7   otros_tec                     960 non-null    float64
 8   Accesos por cada 100 hab      960 non-null    float64
 9   Accesos por cada 100 hogares  960 non-null    float64
 10  Banda ancha fija              960 non-null    int64
 11  Dial up                       958 non-null    float64
 12  Total                         960 non-null    int64
 13  Hasta 512 kbps                960 non-null    float64
 14  Entre 512 Kbps y 1 Mbps       960 non-null    float64
 15  Entre 1 Mbps y 6 Mbps         960 non-null    float64
 16  Entre 6 Mbps y 10 Mbps        960 non-null    float64
 17  Entre 10 Mbps y 20 Mbps       960 non-null    float64
 18  Entre 20 Mbps y 30 Mbps       960 non-null    float64
 19  Más de 30 Mbps                960 non-null    float64
 20  otros_vel                     954 non-null    float64
 21  Mbps (Media de bajada)        960 non-null    float64
dtypes: float64(17), int64(4), object(1)
memory usage: 165.1+ KB

Combinamos dataframes con nivel localidad

In [246]:
velocidad_localidad.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3066 entries, 0 to 3065
Data columns (total 136 columns):
 #    Column       Non-Null Count  Dtype
---   ------       --------------  -----
 0    Provincia    3066 non-null   object
 1    Partido      3066 non-null   object
 2    Localidad    3066 non-null   object
 3    Link Indec   3066 non-null   object
 4    Otros        877 non-null    float64
 5    0,256 Mbps   37 non-null     float64
 6    0,5 Mbps     642 non-null    float64
 7    0,512 Mbps   526 non-null    float64
 8    0,75 Mbps    284 non-null    float64
 9    1 Mbps       889 non-null    float64
 10   1,5 Mbps     15 non-null     float64
 11   2 Mbps       686 non-null    float64
 12   2,2 Mbps     1 non-null      float64
 13   2,5 Mbps     5 non-null      float64
 14   3 Mbps       1279 non-null   float64
 15   3,3 Mbps     1 non-null      float64
 16   3,5 Mbps     370 non-null    float64
 17   4 Mbps       490 non-null    float64
 18   4,5 Mbps     1 non-null      float64
 19   5 Mbps       981 non-null    float64
 20   6 Mbps       1359 non-null   float64
 21   6,4 Mbps     1 non-null      float64
 22   7 Mbps       194 non-null    float64
 23   7,5 Mbps     4 non-null      float64
 24   8 Mbps       615 non-null    float64
 25   9 Mbps       52 non-null     float64
 26   10 Mbps      1732 non-null   float64
 27   10,1 Mbps    1 non-null      float64
 28   10,2 Mbps    1 non-null      float64
 29   11 Mbps      28 non-null     float64
 30   12 Mbps      300 non-null    float64
 31   12,3 Mbps    1 non-null      float64
 32   13 Mbps      14 non-null     float64
 33   14 Mbps      29 non-null     float64
 34   15 Mbps      1099 non-null   float64
 35   16 Mbps      19 non-null     float64
 36   17 Mbps      1 non-null      float64
 37   18 Mbps      19 non-null     float64
 38   20 Mbps      1072 non-null   float64
 39   20,5 Mbps    1 non-null      float64
 40   21 Mbps      5 non-null      float64
 41   22 Mbps      1 non-null      float64
 42   23 Mbps      2 non-null      float64
 43   24 Mbps      19 non-null     float64
 44   25 Mbps      430 non-null    float64
 45   25,1 Mbps    1 non-null      float64
 46   25,5 Mbps    1 non-null      float64
 47   26 Mbps      1 non-null      float64
 48   27 Mbps      1 non-null      float64
 49   30 Mbps      737 non-null    float64
 50   31 Mbps      5 non-null      float64
 51   32 Mbps      1 non-null      float64
 52   34 Mbps      1 non-null      float64
 53   35 Mbps      35 non-null     float64
 54   36 Mbps      4 non-null      float64
 55   38 Mbps      1 non-null      float64
 56   39 Mbps      1 non-null      float64
 57   40 Mbps      103 non-null    float64
 58   41 Mbps      2 non-null      float64
 59   45 Mbps      2 non-null      float64
 60   46 Mbps      1 non-null      float64
 61   48 Mbps      4 non-null      float64
 62   49 Mbps      1 non-null      float64
 63   50 Mbps      745 non-null    float64
 64   50,1 Mbps    1 non-null      float64
 65   50,25 Mbps   1 non-null      float64
 66   51 Mbps      2 non-null      float64
 67   55 Mbps      5 non-null      float64
 68   58 Mbps      1 non-null      float64
 69   59 Mbps      1 non-null      float64
 70   60 Mbps      264 non-null    float64
 71   61 Mbps      3 non-null      float64
 72   62 Mbps      1 non-null      float64
 73   64 Mbps      1 non-null      float64
 74   65 Mbps      2 non-null      float64
 75   66 Mbps      1 non-null      float64
 76   70 Mbps      21 non-null     float64
 77   75 Mbps      196 non-null    float64
 78   78 Mbps      1 non-null      float64
 79   80 Mbps      26 non-null     float64
 80   83 Mbps      1 non-null      float64
 81   85 Mbps      1 non-null      float64
 82   90 Mbps      4 non-null      float64
 83   92 Mbps      2 non-null      float64
 84   95 Mbps      1 non-null      float64
 85   98 Mbps      1 non-null      float64
 86   100 Mbps     608 non-null    float64
 87   100,1 Mbps   1 non-null      float64
 88   100,25 Mbps  1 non-null      float64
 89   105 Mbps     2 non-null      float64
 90   110 Mbps     2 non-null      float64
 91   120 Mbps     27 non-null     float64
 92   122 Mbps     1 non-null      float64
 93   125 Mbps     2 non-null      float64
 94   126 Mbps     1 non-null      float64
 95   130 Mbps     1 non-null      float64
 96   140 Mbps     2 non-null      float64
 97   150 Mbps     255 non-null    float64
 98   155 Mbps     1 non-null      float64
 99   158 Mbps     1 non-null      float64
 100  160 Mbps     5 non-null      float64
 101  164 Mbps     1 non-null      float64
 102  165 Mbps     2 non-null      float64
 103  180 Mbps     1 non-null      float64
 104  200 Mbps     132 non-null    float64
 105  205 Mbps     1 non-null      float64
 106  212 Mbps     1 non-null      float64
 107  220 Mbps     1 non-null      float64
 108  225 Mbps     2 non-null      float64
 109  240 Mbps     6 non-null      float64
 110  246 Mbps     1 non-null      float64
 111  250 Mbps     18 non-null     float64
 112  256 Mbps     2 non-null      float64
 113  275 Mbps     1 non-null      float64
 114  300 Mbps     442 non-null    float64
 115  320 Mbps     2 non-null      float64
 116  325 Mbps     1 non-null      float64
 117  330 Mbps     1 non-null      float64
 118  340 Mbps     1 non-null      float64
 119  350 Mbps     1 non-null      float64
 120  400 Mbps     13 non-null     float64
 121  450 Mbps     1 non-null      float64
 122  480 Mbps     2 non-null      float64
 123  500 Mbps     422 non-null    float64
 124  512 Mbps     7 non-null      float64
 125  520 Mbps     1 non-null      float64
 126  540 Mbps     1 non-null      float64
 127  600 Mbps     154 non-null    float64
 128  680 Mbps     1 non-null      float64
 129  700 Mbps     3 non-null      float64
 130  800 Mbps     4 non-null      float64
 131  850 Mbps     1 non-null      float64
 132  900 Mbps     1 non-null      float64
 133  999 Mbps     17 non-null     float64
 134  1000 Mbps    418 non-null    float64
 135  1024 Mbps    1 non-null      float64
dtypes: float64(132), object(4)
memory usage: 3.2+ MB

In [245]:
tecnologia_localidad.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3076 entries, 0 to 3075
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Provincia      3076 non-null   object
 1   Partido        3076 non-null   object
 2   Localidad      3076 non-null   object
 3   Link Indec     3076 non-null   object
 4   ADSL           3076 non-null   int64
 5   CABLEMODEM     3076 non-null   int64
 6   DIAL UP        3076 non-null   int64
 7   FIBRA OPTICA   3076 non-null   int64
 8   OTROS          3076 non-null   int64
 9   SATELITAL      3076 non-null   int64
 10  WIMAX          3076 non-null   int64
 11  WIRELESS       3076 non-null   int64
 12  Total general  3076 non-null   int64
dtypes: int64(9), object(4)
memory usage: 312.5+ KB

In [247]:
# Uniremos los df con información detallada por localidad
df_localidad = pd.merge(velocidad_localidad, tecnologia_localidad, on=['Provincia', 'Partido', 'Localidad'])
df_localidad.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2884 entries, 0 to 2883
Data columns (total 146 columns):
 #    Column         Non-Null Count  Dtype
---   ------         --------------  -----
 0    Provincia      2884 non-null   object
 1    Partido        2884 non-null   object
 2    Localidad      2884 non-null   object
 3    Link Indec_x   2884 non-null   object
 4    Otros          837 non-null    float64
 5    0,256 Mbps     37 non-null     float64
 6    0,5 Mbps       608 non-null    float64
 7    0,512 Mbps     525 non-null    float64
 8    0,75 Mbps      279 non-null    float64
 9    1 Mbps         872 non-null    float64
 10   1,5 Mbps       15 non-null     float64
 11   2 Mbps         674 non-null    float64
 12   2,2 Mbps       1 non-null      float64
 13   2,5 Mbps       5 non-null      float64
 14   3 Mbps         1255 non-null   float64
 15   3,3 Mbps       1 non-null      float64
 16   3,5 Mbps       360 non-null    float64
 17   4 Mbps         483 non-null    float64
 18   4,5 Mbps       1 non-null      float64
 19   5 Mbps         970 non-null    float64
 20   6 Mbps         1322 non-null   float64
 21   6,4 Mbps       1 non-null      float64
 22   7 Mbps         193 non-null    float64
 23   7,5 Mbps       4 non-null      float64
 24   8 Mbps         606 non-null    float64
 25   9 Mbps         51 non-null     float64
 26   10 Mbps        1704 non-null   float64
 27   10,1 Mbps      1 non-null      float64
 28   10,2 Mbps      1 non-null      float64
 29   11 Mbps        28 non-null     float64
 30   12 Mbps        296 non-null    float64
 31   12,3 Mbps      1 non-null      float64
 32   13 Mbps        13 non-null     float64
 33   14 Mbps        29 non-null     float64
 34   15 Mbps        1085 non-null   float64
 35   16 Mbps        19 non-null     float64
 36   17 Mbps        1 non-null      float64
 37   18 Mbps        19 non-null     float64
 38   20 Mbps        1054 non-null   float64
 39   20,5 Mbps      1 non-null      float64
 40   21 Mbps        5 non-null      float64
 41   22 Mbps        1 non-null      float64
 42   23 Mbps        2 non-null      float64
 43   24 Mbps        19 non-null     float64
 44   25 Mbps        342 non-null    float64
 45   25,1 Mbps      1 non-null      float64
 46   25,5 Mbps      1 non-null      float64
 47   26 Mbps        1 non-null      float64
 48   27 Mbps        1 non-null      float64
 49   30 Mbps        721 non-null    float64
 50   31 Mbps        5 non-null      float64
 51   32 Mbps        1 non-null      float64
 52   34 Mbps        1 non-null      float64
 53   35 Mbps        35 non-null     float64
 54   36 Mbps        4 non-null      float64
 55   38 Mbps        1 non-null      float64
 56   39 Mbps        1 non-null      float64
 57   40 Mbps        101 non-null    float64
 58   41 Mbps        2 non-null      float64
 59   45 Mbps        2 non-null      float64
 60   46 Mbps        0 non-null      float64
 61   48 Mbps        4 non-null      float64
 62   49 Mbps        1 non-null      float64
 63   50 Mbps        738 non-null    float64
 64   50,1 Mbps      1 non-null      float64
 65   50,25 Mbps     1 non-null      float64
 66   51 Mbps        2 non-null      float64
 67   55 Mbps        5 non-null      float64
 68   58 Mbps        1 non-null      float64
 69   59 Mbps        1 non-null      float64
 70   60 Mbps        263 non-null    float64
 71   61 Mbps        3 non-null      float64
 72   62 Mbps        1 non-null      float64
 73   64 Mbps        1 non-null      float64
 74   65 Mbps        2 non-null      float64
 75   66 Mbps        1 non-null      float64
 76   70 Mbps        21 non-null     float64
 77   75 Mbps        196 non-null    float64
 78   78 Mbps        1 non-null      float64
 79   80 Mbps        26 non-null     float64
 80   83 Mbps        1 non-null      float64
 81   85 Mbps        1 non-null      float64
 82   90 Mbps        4 non-null      float64
 83   92 Mbps        2 non-null      float64
 84   95 Mbps        1 non-null      float64
 85   98 Mbps        1 non-null      float64
 86   100 Mbps       603 non-null    float64
 87   100,1 Mbps     1 non-null      float64
 88   100,25 Mbps    1 non-null      float64
 89   105 Mbps       2 non-null      float64
 90   110 Mbps       2 non-null      float64
 91   120 Mbps       27 non-null     float64
 92   122 Mbps       1 non-null      float64
 93   125 Mbps       2 non-null      float64
 94   126 Mbps       1 non-null      float64
 95   130 Mbps       1 non-null      float64
 96   140 Mbps       2 non-null      float64
 97   150 Mbps       254 non-null    float64
 98   155 Mbps       1 non-null      float64
 99   158 Mbps       1 non-null      float64
 100  160 Mbps       5 non-null      float64
 101  164 Mbps       1 non-null      float64
 102  165 Mbps       2 non-null      float64
 103  180 Mbps       1 non-null      float64
 104  200 Mbps       132 non-null    float64
 105  205 Mbps       1 non-null      float64
 106  212 Mbps       1 non-null      float64
 107  220 Mbps       1 non-null      float64
 108  225 Mbps       2 non-null      float64
 109  240 Mbps       6 non-null      float64
 110  246 Mbps       1 non-null      float64
 111  250 Mbps       18 non-null     float64
 112  256 Mbps       2 non-null      float64
 113  275 Mbps       1 non-null      float64
 114  300 Mbps       439 non-null    float64
 115  320 Mbps       2 non-null      float64
 116  325 Mbps       1 non-null      float64
 117  330 Mbps       1 non-null      float64
 118  340 Mbps       1 non-null      float64
 119  350 Mbps       1 non-null      float64
 120  400 Mbps       13 non-null     float64
 121  450 Mbps       1 non-null      float64
 122  480 Mbps       2 non-null      float64
 123  500 Mbps       417 non-null    float64
 124  512 Mbps       7 non-null      float64
 125  520 Mbps       1 non-null      float64
 126  540 Mbps       1 non-null      float64
 127  600 Mbps       153 non-null    float64
 128  680 Mbps       1 non-null      float64
 129  700 Mbps       3 non-null      float64
 130  800 Mbps       4 non-null      float64
 131  850 Mbps       1 non-null      float64
 132  900 Mbps       1 non-null      float64
 133  999 Mbps       16 non-null     float64
 134  1000 Mbps      384 non-null    float64
 135  1024 Mbps      1 non-null      float64
 136  Link Indec_y   2884 non-null   object
 137  ADSL           2884 non-null   int64
 138  CABLEMODEM     2884 non-null   int64
 139  DIAL UP        2884 non-null   int64
 140  FIBRA OPTICA   2884 non-null   int64
 141  OTROS          2884 non-null   int64
 142  SATELITAL      2884 non-null   int64
 143  WIMAX          2884 non-null   int64
 144  WIRELESS       2884 non-null   int64
 145  Total general  2884 non-null   int64
dtypes: float64(132), int64(9), object(5)
memory usage: 3.2+ MB

Combinamos dataframes con nivel trimestre

In [270]:
# Unimos, total acceso por trimestre con velocidad_media_de_bajada.
acceso_vel_trimestre = pd.merge(total_tecnologia, velocidad_media_de_bajada, on=['Año', 'Trimestre'])
acceso_vel_trimestre.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Año                     40 non-null     int64
 1   Trimestre               40 non-null     int64
 2   ADSL                    40 non-null     int64
 3   Cablemodem              40 non-null     int64
 4   Fibra óptica            40 non-null     int64
 5   Wireless                40 non-null     int64
 6   Otros                   40 non-null     int64
 7   Total                   40 non-null     int64
 8   Periodo                 40 non-null     object
 9   Mbps (Media de bajada)  40 non-null     float64
 10  Trimestre.1             40 non-null     object
dtypes: float64(1), int64(8), object(2)
memory usage: 3.6+ KB

In [271]:
# Para tener toda la informacion disponible a nivel trimestre junta, restaría sumar el df 'velocidad_tot'. Detectamos un error en el último trimestre 2023, donde aparece como año 2024. Resolvemos:
velocidad_tot['Año'] = velocidad_tot['Año'].replace(2024, 2023)

In [272]:
trim_comb = pd.merge(acceso_vel_trimestre, velocidad_tot, on=['Año', 'Trimestre'])
trim_comb.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Año                      40 non-null     int64
 1   Trimestre                40 non-null     int64
 2   ADSL                     40 non-null     int64
 3   Cablemodem               40 non-null     int64
 4   Fibra óptica             40 non-null     int64
 5   Wireless                 40 non-null     int64
 6   Otros                    40 non-null     int64
 7   Total_x                  40 non-null     int64
 8   Periodo                  40 non-null     object
 9   Mbps (Media de bajada)   40 non-null     float64
 10  Trimestre.1              40 non-null     object
 11  Hasta 512 kbps           40 non-null     int64
 12  Entre 512 Kbps y 1 Mbps  40 non-null     int64
 13  Entre 1 Mbps y 6 Mbps    40 non-null     int64
 14  Entre 6 Mbps y 10 Mbps   40 non-null     int64
 15  Entre 10 Mbps y 20 Mbps  40 non-null     int64
 16  Entre 20 Mbps y 30 Mbps  40 non-null     int64
 17  Más de 30 Mbps           40 non-null     int64
 18  OTROS                    40 non-null     int64
 19  Total_y                  40 non-null     int64
dtypes: float64(1), int64(17), object(2)
memory usage: 6.4+ KB

In [273]:
trim_comb.head(3)

,Año,Trimestre,ADSL,Cablemodem,Fibra óptica,Wireless,Otros,Total_x,Periodo,Mbps (Media de bajada),Trimestre.1,Hasta 512 kbps,Entre 512 Kbps y 1 Mbps,Entre 1 Mbps y 6 Mbps,Entre 6 Mbps y 10 Mbps,Entre 10 Mbps y 20 Mbps,Entre 20 Mbps y 30 Mbps,Más de 30 Mbps,OTROS,Total_y
0,2023,4,836390,6022532,3908183,585760,194796,11547661,Oct-Dic 2023,139.04,Oct-Dic 2023,29708,71742,900253,978108,697232,350290,8224736,295592,11547661
1,2023,3,897895,6018832,3708718,581436,200027,11406908,Jul-Sept 2023,129.67,Jul-Sept 2023,30274,80609,945608,998725,720084,350918,8003269,277421,11406908
2,2023,2,1006509,5997149,3463988,581823,202428,11251897,Abr-Jun 2023,123.95,Abr-Jun 2023,30827,79405,963510,1028250,734125,364730,7775095,275955,11251897

In [282]:
# Por último, sumamos detalle por servicio (Dial Up, ADSL)
df_trimestre = pd.merge(trim_comb, total_Dial_BAf, on=['Año', 'Trimestre'])
df_trimestre.info(verbose=True, show_counts=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 24 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Año                      40 non-null     int64
 1   Trimestre                40 non-null     int64
 2   ADSL                     40 non-null     int64
 3   Cablemodem               40 non-null     int64
 4   Fibra óptica             40 non-null     int64
 5   Wireless                 40 non-null     int64
 6   Otros                    40 non-null     int64
 7   Total_x                  40 non-null     int64
 8   Periodo_x                40 non-null     object
 9   Mbps (Media de bajada)   40 non-null     float64
 10  Trimestre.1              40 non-null     object
 11  Hasta 512 kbps           40 non-null     int64
 12  Entre 512 Kbps y 1 Mbps  40 non-null     int64
 13  Entre 1 Mbps y 6 Mbps    40 non-null     int64
 14  Entre 6 Mbps y 10 Mbps   40 non-null     int64
 15  Entre 10 Mbps y 20 Mbps  40 non-null     int64
 16  Entre 20 Mbps y 30 Mbps  40 non-null     int64
 17  Más de 30 Mbps           40 non-null     int64
 18  OTROS                    40 non-null     int64
 19  Total_y                  40 non-null     int64
 20  Banda ancha fija         40 non-null     int64
 21  Dial up                  40 non-null     int64
 22  Total                    40 non-null     int64
 23  Periodo_y                40 non-null     object
dtypes: float64(1), int64(20), object(3)
memory usage: 7.6+ KB

In [283]:
# Eliminamos columna de total repetidas.
df_trimestre.drop('Total_x', axis=1, inplace=True)
df_trimestre.drop('Total_y', axis=1, inplace=True)
df_trimestre.drop('Trimestre.1', axis=1, inplace=True)
df_trimestre.drop('Periodo_x', axis=1, inplace=True)
df_trimestre.rename(columns={'Periodo_y': 'Periodo'}, inplace=True)
df_trimestre.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Año                      40 non-null     int64
 1   Trimestre                40 non-null     int64
 2   ADSL                     40 non-null     int64
 3   Cablemodem               40 non-null     int64
 4   Fibra óptica             40 non-null     int64
 5   Wireless                 40 non-null     int64
 6   Otros                    40 non-null     int64
 7   Mbps (Media de bajada)   40 non-null     float64
 8   Hasta 512 kbps           40 non-null     int64
 9   Entre 512 Kbps y 1 Mbps  40 non-null     int64
 10  Entre 1 Mbps y 6 Mbps    40 non-null     int64
 11  Entre 6 Mbps y 10 Mbps   40 non-null     int64
 12  Entre 10 Mbps y 20 Mbps  40 non-null     int64
 13  Entre 20 Mbps y 30 Mbps  40 non-null     int64
 14  Más de 30 Mbps           40 non-null     int64
 15  OTROS                    40 non-null     int64
 16  Banda ancha fija         40 non-null     int64
 17  Dial up                  40 non-null     int64
 18  Total                    40 non-null     int64
 19  Periodo                  40 non-null     object
dtypes: float64(1), int64(18), object(1)
memory usage: 6.4+ KB

In [284]:
df_trimestre.rename(columns={'Otros': 'otros_tec'}, inplace=True)
df_trimestre.rename(columns={'OTROS': 'otros_vel'}, inplace=True)
df_trimestre.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40 entries, 0 to 39
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Año                      40 non-null     int64
 1   Trimestre                40 non-null     int64
 2   ADSL                     40 non-null     int64
 3   Cablemodem               40 non-null     int64
 4   Fibra óptica             40 non-null     int64
 5   Wireless                 40 non-null     int64
 6   otros_tec                40 non-null     int64
 7   Mbps (Media de bajada)   40 non-null     float64
 8   Hasta 512 kbps           40 non-null     int64
 9   Entre 512 Kbps y 1 Mbps  40 non-null     int64
 10  Entre 1 Mbps y 6 Mbps    40 non-null     int64
 11  Entre 6 Mbps y 10 Mbps   40 non-null     int64
 12  Entre 10 Mbps y 20 Mbps  40 non-null     int64
 13  Entre 20 Mbps y 30 Mbps  40 non-null     int64
 14  Más de 30 Mbps           40 non-null     int64
 15  otros_vel                40 non-null     int64
 16  Banda ancha fija         40 non-null     int64
 17  Dial up                  40 non-null     int64
 18  Total                    40 non-null     int64
 19  Periodo                  40 non-null     object
dtypes: float64(1), int64(18), object(1)
memory usage: 6.4+ KB